@page "/Employees/employeedetails/{EmployeeId}"

@inherits EmployeeDetailsBase

<h3>Employee Details</h3>

@if (Employee == null || Departments == null)
{
    <div class="spinner">Loading.....</div>
}
else
{
    <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title">@Employee.FirstName @Employee.LastName</h5>
            <p class="card-text">
                <strong>Employee ID:</strong> @Employee.EmployeeId <br />
                <strong>Email:</strong> @Employee.Email <br />

                <h4>Departments</h4>
                <ul>
                    @foreach (var department in Departments)
                    {
                        <li>@department.DepartmentName</li>
                    }
                </ul>
            </p>
        </div>
    </div>

    <div class="card-footer text-center">
        <a href="/" class="btn btn-secondary">Back</a>
        <a href="@($"/editemployee/{Employee.EmployeeId}")" class="btn btn-warning m-1">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
    </div>
}
