@page "/employeedetails/{id}"
@page "/employeedetails"
@inherits EmployeeDetailsBase



<h3>Employee Details</h3>

@if (@Employee == null)
{
    <div class="spinner"></div>
}
else
{
{
    <div class="card" style="width: 24rem;">
        <img class="card-img-top" src="@Employee.PhotoPath" @onmousemove="@Mouse_Move" alt="Employee Image">
        <div class="card-body">
            <h5 class="card-title">@Employee.FirstName @Employee.LastName @Coordinates</h5>
            <p class="card-text">
                <strong>Employee ID:</strong> @Employee.EmployeeId <br />

                    <strong>Department:</strong> @Employee.Department  == null  ? "N/A" : DepartmentName <br />
                <strong>Email:</strong> @Employee.Email <br />

                    <a href="/" class="btn btn-primary" @onclick="@Button_Click">@ButtonText</a>
            </p>
            <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn btn-secondary">Back</a>
                    <a href="" class="btn btn-secondary">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}

}
